<h1>Book Reviews</h1>
<div class="card my-5">
  <div class="card-body">
    <h1>New Review</h1>

    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path, class: 'btn btn-light mt-2' %>
  </div>
</div>


